<div class="topnav">
    <div class="p-12 flex items-center justify-between gap-x-3">
        <div class="inline-flex items-center">
            <a href="/" class="hidden md:block">
                <img src="images/lendnation.svg" height="40" width="282">
            </a>
            <a href="/" class="block md:hidden">
                <img src="images/lendnation.svg" height="24" width="168">
            </a>
        </div>
        <div class="hidden lg:flex gap-x-10">
            {{#each global.header.links}}
                {{!-- Add everything except "Apply Now" link from global.header.links array --}}
                {{#unless @last}}
                    <a href="{{href}}" class="headerLink">{{text}}</a>
                {{/unless}}
            {{/each}}
        </div>
        <div class="flex items-center gap-x-7">
            {{#each global.header.links}}
                {{!-- Add last link, aka "Apply Now", from global.header.links array --}}
                {{#if @last}}
                    <button class="px-8 py-2 text-xl uppercase font-semibold text-white bg-lendNation-green rounded-3xl border-2 border-lendNation-green hover:bg-white hover:text-lendNation-blue hover:border-lendNation-green hover:border-2">
                        <a href="{{href}}">{{text}}</a>
                    </button>
                {{/if}}
            {{/each}}
            <a href="javascript:void(0);" class="hamburger lg:hidden" onclick="hamburger()">
                <svg class="lg:hidden" viewBox="0 0 100 80" width="25" height="25">
                    <rect width="90" height="10"></rect>
                    <rect y="30" width="90" height="10"></rect>
                    <rect y="60" width="90" height="10"></rect>
                </svg>
            </a>
        </div>

    </div>

    <div class="links-mobile-view font-bold text-xl px-5 py-10 bg-lendNation-header-mobile-blue text-white text-right space-y-3" id="myLinks">
        {{#each global.header.links}}
            <div><a href="{{href}}">{{text}}</a></div>
        {{/each}}
    </div>
</div>

<script>
    function hamburger() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    }
</script>