---
{
    "stream": {
        "$id": "state-pages",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "ce_state"
            ]
        },
        "fields": [
            "id", 
            "uid", 
            "meta",
            "name",
            "c_relatedDocuments.name",
            "c_relatedDocuments.websiteUrl",
            "c_relatedFAQs.question",
            "c_relatedFAQs.answer",
            "slug"
        ], 
        "localization": {
            "locales": ["en"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>LENDNATION Disclosures - {{name}}</title>
        {{!-- {{>schema}} --}}
        <link rel="shortcut icon" type="image/png" href="/images/local.lendnation.com.png"/>
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                <div class="centered-container">
                    {{>hero text="Disclosures"}}
                    <div class="section">
                        {{#each c_relatedDocuments}}
                            <a class="text-xl text-lendNation-body-gray underline" href="{{websiteUrl.url}}" target="_blank">{{name}}</a>
                        {{/each}}
                    </div>
                    {{>hero text="Frequently Asked Questions"}}
                    <div class="section">
                        {{#each c_relatedFAQs}}
                            <div class="text-xl text-lendNation-body-gray underline">{{question}}</div>
                   
                            <div class="text-xl text-lendNation-body-gray underline">{{answer}}</div>    
                    
                    
                </div>
            </div>
        
       
          
            {{>footer}}
    </body> 
</html>
